.header {
    border: solid 3px #292929;
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #6ceae6;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.title__header {
    display: flex;
}
.title__header__text {
    padding: 0;
}

.header__image {
    width: 100%;
    overflow: hidden;
}
.header__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.title__header {
    display: flex;
    background-color: #292929;
}
.title__header__text {
    color: #ffffff;
    /* letter-spacing: 0.08em; */
    font-weight: bold;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    fill: white;
}
