.header {
    border: var(--mediumBorder);
    display: flex;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        '... title menu'
        'subtext subtext subtext';
    background-color: #6ceae6;
    position: relative;
    text-align: center;
}

.header__subtext {
    grid-area: subtext;
}
.title__header {
    display: flex;
    background-color: #292929;
}
.title__header__text {
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    grid-area: title;
    color: #ffffff;
    /* letter-spacing: 0.08em; */
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    fill: white;
}
