.header {
    border: var(--mediumBorder);
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #6ceae6;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.title__header {
    display: flex;
}

.header__image {
    height: 30vh;
    width: 100%;
    display: none;
    overflow: hidden;
}
.header__image img {
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
}
.title__header {
    display: flex;
    background-color: #292929;
}
.title__header__text {
    color: #ffffff;
    /* letter-spacing: 0.08em; */
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    fill: white;
}
