.kid__progress {
    display: grid;
    grid-template-areas:
        'header'
        'read'
        'write'
        'draw'
        'button';
}
header {
    grid-area: header;
}
.read {
    grid-area: read;
    background-color: var(--green);
}

.write {
    grid-area: write;
    background-color: var(--red);
}
.draw {
    border-bottom: 0;
    grid-area: draw;
    background-color: var(--gold);
}
.btn__container {
    border-top-style: none;
    grid-area: button;
    background-color: var(--green);
}
.kid__progress div > a {
    position: absolute;
    /* background-color: red; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* display: flex;
    justify-content: center; */
}
.read a {
    background-color: transparent;
}
.write {
    background-color: orange;
}
.draw {
    background-color: green;
}
.kid__progress div div {
    height: 50%;
}
@media only screen and (min-width: 1000px) {
    .kid__progress {
        grid-template-columns: repeat(2, minmax(50%, 800px));
        grid-template-areas:
            'header header'
            'read write'
            'read draw'
            'read button';
    }
}
.modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.modal__card {
    background: white;
    color: blue;
}
