/* // @import '../node_modules/modern-normalize/modern-normalize.css'; */
:root {
    --green: #b5d33e;
    --red: #eb7d5b;
    --gold: #fed23e;
    --blue: #409bb5;
    --mediumBorder: 7px solid #262626;
    --accent-font: Bangers;
    --base-text: 1em;
    --font-step: 1.25;
    --p: calc(var(--base-text) * var(--font-step));
    --h5: calc(var(--p) * var(--font-step));
    --h4: calc(var(--h5) * var(--font-step));
    --h3: calc(var(--h4) * var(--font-step));
    --h2: calc(var(--h3) * var(--font-step));
    --h1: calc(var(--h2) * var(--font-step));
}
body {
    font-family: var(--accent-font) !important;
}
p {
    font-size: (var(--p));
}
h5 {
    font-size: (var(--h5));
}
h4 {
    font-size: (var(--h4));
}
h3 {
    font-size: (var(--h3));
}
h2 {
    font-size: var(--h2);
    margin: 0;
}
h1 {
    font-size: (var(--h1));
}

body {
    margin: 0;
    overscroll-behavior: none;
}

a {
    text-decoration: none;
    color: inherit;
}
@media only screen and (min-width: 1000px) {
    :root {
        --base-text: 1.2em;
    }
}
