.mission-main {
    display: flex;
    flex-flow: row wrap;
    --columns: 10;
}

.mission-main [class*='col-'] {
    --width: 10;
}
.img-div {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    background-color: lightgreen;
    align-items: center;
    justify-content: center;
}

.img-div img {
    max-height: 100%;
    width: 100%;
    object-fit: contain;
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
}
.img-div img:nth-last-of-type(2) {
    grid-column: 2/3;
}
@media only screen and (min-width: 1000px) {
    .mission-main .col-big {
        --width: 6;
        background-color: red;
    }
    .mission-main .col-small {
        --width: 4;
    }
}
